.edit-form__personalia {
    display: block;
    border: none;
    width: 100%;
    height: 27px;
    margin-bottom: 30px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
}
.edit-form__personalia:last-child {
  color: blueviolet;
}


.form__input_type_error {
  border-bottom-color: red;
}

.edit-form__personalia-error {
display: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
min-height: 30px;
color: #FF0000;
margin-top: -30px;
}

.edit-form__personalia-error_active {
  display: block;
}
